body {
  margin: 50px;
}

#header {
  background: #333;
  top: 0px;
  color: #ccc;
  left: 0px;
  padding: 8px;
  position: fixed;
  text-align: center;
  width: 100%;
}

#footer {
  background: #333;
  bottom: 0px;
  color: #ccc;
  left: 0px;
  padding: 8px;
  position: fixed;
  text-align: center;
  width: 100%;
}
