<div id="header">
    @* <h4>@Html.ActionLink("ENGINEERS", "Index", "Engineers")</h4> *@
    <h4>@Html.ActionLink("HOME", "Index", "Home")</h4>
    @* <h4>@Html.ActionLink("MACHINES", "Index", "Machines")</h4> *@
</div>